.icon {
  width: 13px;
  height: 14px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.plus {
  color: #1e1e2d;
  @media (max-width: 600px) {
    padding-left: 10px;
  }
}
